.pytest_cache
.hypothesis

*/**/__pycache__
*/**/.ipynb_checkpoints
*.egg-info
*.log

.cache
model/* 
models/*
raw/
temp/*
!models/.keep
!data/.keep
!temp/.keep
!data/experiments/
!data/chunks/

.DS_Store
.venv
.env
DeepSpeed
runs/*


.idea
*.out
*.sif

.idea
wandb/
*/__pycache__
*/**/checkpoint-*
*/core.raven*
core.raven*
slurm_logs/tests/
projects/*/data/*/local/
cache-*.arrow

*.code-workspace
**/*venv*/**
.*venv*/**

